@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap");

.halaman-utama {
	box-sizing: content-box;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.halaman-utama .header .text-1 {
	letter-spacing: 0px;
	min-height: 126px;
	min-width: 711px;
	text-align: center;
}
.halaman-utama .header .robotoslab-regular-normal-spectra-48px {
	color: var(--spectra);
	font-family: "Roboto Slab-Regular", Helvetica;
	font-size: 48px;
	font-style: normal;
	font-weight: 400;
}
:root {
	--spectra: rgba(42, 90, 96, 1);
}
