@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap");

.halaman-utama {
	box-sizing: content-box;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.halaman-utama .navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	width: 1350px;
	padding: 10px 0px;
	color: #ffff;
}
.halaman-utama .navbar .brand {
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	font-size: 25px;
	text-decoration: none;
	cursor: pointer;
}

.halaman-utama .navbar .nav-link {
	list-style: none;
	margin-right: 100px;
}
.halaman-utama .navbar .nav-link li {
	display: inline-block;
	padding: 0px 25px;
}
.halaman-utama .navbar .nav-link li .navbar-link {
	font-family: "Roboto Slab", serif;
	font-weight: 500px;
	font-size: 20px;
	text-decoration: none;
	color: rgba(33, 69, 81, 1);
}
.halaman-utama .navbar .nav-link li .butt {
	color: rgba(33, 69, 81, 1);
	background: rgba(160, 194, 82, 1);
	padding: 10px 40px;
	text-decoration: none;
	border-radius: 0.5em;
	font-family: "Roboto Slab", serif;
}
.halaman-utama .navbar .nav-link li .navbar-link:hover::after {
	content: "";
	display: block;
	border-bottom: 3px solid blue;
	width: 30px;
	margin: auto;
	padding-bottom: 5px;
	margin-bottom: -10px;
}

.halaman-utama .main {
	width: 1350px;
	background: url("../img/landingpage1.png");
	background-size: cover;
	position: relative;
	z-index: -1;
}
.halaman-utama .main .container {
	padding: 3rem 2rem;
}
.halaman-utama .main img {
	position: relative;
}
.halaman-utama .main .container .main-content {
	display: flex;
}
.halaman-utama .main .container .main-content .text {
	padding-top: 12px;
}
.halaman-utama .main .container .main-content .text img {
	height: 60px;
	width: 800px;
	margin-bottom: -20px;
}

.halaman-utama .main .container .main-content .text h1 {
	color: rgba(33, 69, 81, 1);
	font-size: 32px;
	font-family: "Roboto Slab", serif;
}
.halaman-utama .main .container .banner {
	margin-top: 10px;
	margin-left: 0px;
	float: right;
}
.halaman-utama .main .container .banner img {
	width: 550px;
}
.halaman-utama .main .container .sosmet {
	margin-top: 330px;
	display: flex;
}
.halaman-utama .main .container .sosmet img {
	height: 35px;
	left: 10px;
	top: 9px;
	width: 39px;
}

.halaman-utama .main .container .sosmet .fb {
	margin-left: 10px;
}
.halaman-utama .main .container .sosmet .ig {
	margin-left: 10px;
}
.halaman-utama .content {
	height: 1024;
	width: 1350px;
}
.halaman-utama .content .contain {
	height: 1024;
	width: 1350px;
}
.halaman-utama .content .contain .batang {
	background-color: var(--fountain-blue);
	height: 30px;
	width: 1350px;
}
:root {
	--fountain-blue: rgba(99, 181, 192, 1);
}
.halaman-utama .content .contain .batang2 {
	background-color: var(--viking);
	height: 30px;
	width: 1200px;
}
:root {
	--viking: rgba(110, 199, 211, 1);
}

.halaman-utama .content .contain .batang3 {
	background-color: var(--spray);
	height: 30px;
	width: 1050px;
}
:root {
	--spray: rgba(123, 225, 239, 1);
}

.halaman-utama .content .contain .retangle {
	height: 300px;
	width: 500px;
	background: url("../img/tkm.png");
	background-size: cover;
	border-radius: 20px;
	margin-top: 150px;
	margin-left: 150px;
	margin-bottom: 100px;
	position: relative;
	z-index: -1;
}

.halaman-utama .content .contain .title {
	margin-top: -400px;
	margin-left: 650px;
	color: rgba(33, 69, 81, 1);
	font-family: "Roboto Slab", serif;
	position: relative;
}
.halaman-utama .content .contain .title .profile {
	font-size: 42px;
}
.halaman-utama .content .contain .title .intro {
	font-size: 21px;
}
.halaman-utama .content .contain .lanjutprofile {
	margin-left: 1050px;
}

.halaman-utama .guru {
	height: 1024;
	width: 1350px;
}
.halaman-utama .guru .contenguru {
	height: 1024;
	width: 1350px;
}

.halaman-utama .guru .contenguru .batang4 {
	background-color: var(--fountain-blue);
	height: 30px;
	width: 1350px;
	border-top: 900px;
}
:root {
	--fountain-blue: rgba(99, 181, 192, 1);
}

.halaman-utama .guru .contenguru .batang5 {
	background-color: var(--viking);
	height: 30px;
	width: 1248px;
	float: right;
}
:root {
	--viking: rgba(110, 199, 211, 1);
}

halaman-utama .guru .contenguru .batang6 {
	background-color: var(--spray);
	height: 30px;
	width: 1093px;
	float: right;
}
:root {
	--spray: rgba(123, 225, 239, 1);
}

.halaman-utama .guru .contenguru .isiguru .gurup {
	margin-top: 150px;
	margin-left: 100px;
	color: rgba(33, 69, 81, 1);
	font-family: "Roboto Slab", serif;
}
.halaman-utama .guru .contenguru .isiguru .isigurukiri {
	float: left;
}

.halaman-utama .guru .contenguru .isiguru .isigurukiri .contenguruu1 {
	background-color: var(--bittersweet);
	border-radius: 20px;
	height: 150px;
	width: 650px;
	margin-left: 50px;
}
:root {
	--bittersweet: rgba(254, 120, 120, 1);
}
.halaman-utama .guru .contenguru .isiguru .isigurukiri .contenguruu2 {
	background-color: var(--bittersweett);
	border-radius: 20px;
	height: 150px;
	width: 650px;
	margin-top: 50px;
	margin-left: 50px;
}
:root {
	--bittersweett: rgba(245, 216, 114, 1);
}

.halaman-utama .guru .contenguru .isiguru .isigurukiri .contenguruu1 .satu {
	color: rgba(33, 69, 81, 1);
	font-family: "Roboto Slab", serif;
	font-size: 15px;
	margin-top: 0px;
	margin-left: 200px;
	padding-top: 20px;
}
.halaman-utama
	.guru
	.contenguru
	.isiguru
	.isigurukiri
	.contenguruu1
	.satu
	.nama {
	margin-left: 115px;
}
.halaman-utama
	.guru
	.contenguru
	.isiguru
	.isigurukiri
	.contenguruu1
	.satu
	.alamat {
	margin-left: 106px;
}
.halaman-utama
	.guru
	.contenguru
	.isiguru
	.isigurukiri
	.contenguruu1
	.satu
	.pendidikan {
	margin-left: 76px;
}
.halaman-utama
	.guru
	.contenguru
	.isiguru
	.isigurukiri
	.contenguruu1
	.satu
	.jabatan {
	margin-left: 101px;
}
.halaman-utama .guru .contenguru .isiguru .isigurukiri .contenguruu2 .dua {
	color: rgba(33, 69, 81, 1);
	font-family: "Roboto Slab", serif;
	font-size: 15px;
	margin-top: 0px;
	margin-left: 200px;
	padding-top: 20px;
}
.halaman-utama
	.guru
	.contenguru
	.isiguru
	.isigurukiri
	.contenguruu2
	.dua
	.nama {
	margin-left: 115px;
}
.halaman-utama
	.guru
	.contenguru
	.isiguru
	.isigurukiri
	.contenguruu2
	.dua
	.alamat {
	margin-left: 106px;
}
.halaman-utama
	.guru
	.contenguru
	.isiguru
	.isigurukiri
	.contenguruu2
	.dua
	.pendidikan {
	margin-left: 76px;
}
.halaman-utama
	.guru
	.contenguru
	.isiguru
	.isigurukiri
	.contenguruu2
	.dua
	.jabatan {
	margin-left: 101px;
}
.halaman-utama .guru .contenguru .isiguru .isigurukanan {
	float: left;
}

.halaman-utama
	.guru
	.contenguru
	.isiguru
	.isigurukanan
	.pengumuman-
	.overlap-group
	.group-115 {
	align-items: flex-start;
	display: flex;
	height: 35px;
	justify-content: flex-end;
	left: 10px;
	min-width: 328px;
	padding: 0 2px;
	top: 21px;
	float: left;
}
.halaman-utama
	.guru
	.contenguru
	.isiguru
	.isigurukanan
	.pengumuman-
	.overlap-group
	.group-115
	.overlap-group1
	.loudspeaker-128x128-2 {
	height: 35px;
	left: 277px;
	object-fit: cover;
	position: absolute;
	top: 0px;
	width: 40px;
	margin-left: 60px;
	margin-top: -65px;
}
.halaman-utama
	.guru
	.contenguru
	.isiguru
	.isigurukanan
	.pengumuman-
	.overlap-group {
	height: 920px;
	position: relative;
	width: 491px;
}
.halaman-utama
	.guru
	.contenguru
	.isiguru
	.isigurukanan
	.pengumuman-
	.overlap-group
	.group-115
	.overlap-group1 {
	height: 35px;
	margin-top: -0.04px;
	position: relative;
	width: 317px;
}
.halaman-utama .guru .contenguru .isiguru .isigurukanan .pengumuman- {
	align-items: flex-start;
	display: flex;
	width: 495px;
}
.halaman-utama
	.guru
	.contenguru
	.isiguru
	.isigurukanan
	.pengumuman-
	.overlap-group
	.group-115
	.overlap-group1
	.pengumuman-1 {
	height: 35px;
	left: 0px;
	position: absolute;
	top: 0px;
	width: 282px;
	margin-left: 70px;
	margin-top: -60px;
}
.halaman-utama
	.guru
	.contenguru
	.isiguru
	.isigurukanan
	.pengumuman-
	.overlap-group
	.rectangle-1 {
	background-color: var(--regent-st-blue);
	border-radius: 15px;
	height: 500px;
	left: 41px;
	top: 26px;
	width: 450px;
	margin-left: 120px;
	margin-top: -65px;
}
.halaman-utama
	.guru
	.contenguru
	.isiguru
	.isigurukanan
	.pengumuman-
	.overlap-group
	.rectangle-108 {
	background-color: var(--jonquil);
	border-radius: 20px;
	height: 86px;
	left: 0px;
	position: relative;
	top: 0px;
	width: 349px;
	margin-left: 70px;
	margin-top: -500px;
}
.halaman-utama
	.guru
	.contenguru
	.isiguru
	.isigurukanan
	.pengumuman-
	.overlap-group
	.text-1 {
	left: 92px;
	letter-spacing: 0px;
	position: absolute;
	text-decoration: underline;
	top: 171px;
	width: 372px;
}
.halaman-utama
	.guru
	.contenguru
	.isiguru
	.isigurukanan
	.pengumuman-
	.overlap-group
	.text-2 {
	left: 92px;
	letter-spacing: 0px;
	position: absolute;
	text-decoration: underline;
	top: 270px;
	width: 377px;
}

.halaman-utama
	.guru
	.contenguru
	.isiguru
	.isigurukanan
	.pengumuman-
	.overlap-group
	.robotoslab-normal-blue-dianne-22px {
	color: var(--blue-dianne);
	font-family: "Roboto Slab", Helvetica;
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	margin-left: 75px;
	margin-top: -130px;
}
:root {
	--blue-dianne: rgba(33, 69, 81, 1);
	--jonquil: rgba(240, 255, 151, 1);
	--regent-st-blue: rgba(173, 216, 222, 1);
}
.halaman-utama .guru .contenguru .lanjutguru {
	margin-top: 320px;
	margin-left: 500px;
	position: absolute;
	float: left;
}

.halaman-utama .info .isi-info .batang7 {
	background-color: var(--fountain-blue);
	height: 30px;
	width: 1350px;
	margin-top: 600px;
}
:root {
	--fountain-blue: rgba(99, 181, 192, 1);
}
.halaman-utama .info .isi-info .batang8 {
	background-color: var(--viking);
	height: 30px;
	width: 1200px;
}
:root {
	--viking: rgba(110, 199, 211, 1);
}

.halaman-utama .info .isi-info .batang9 {
	background-color: var(--spray);
	height: 30px;
	width: 1050px;
}
:root {
	--spray: rgba(123, 225, 239, 1);
}

.halaman-utama .info .isi-info .infopendaftaran .inpendaftaran {
	color: rgba(33, 69, 81, 1);
	font-size: 32px;
	font-family: "Roboto Slab", serif;
	float: left;
	margin-left: 100px;
	margin-top: -200px;
	font-size: 40px;
}
.halaman-utama .info .isi-info .back {
	background-color: var(--bittersweettt);
	border-radius: 5px;
	height: 350px;
	width: 1280px;
	margin-top: 160px;
	margin-left: 25px;
}
:root {
	--bittersweettt: rgba(241, 255, 152, 1);
}
.halaman-utama .info .isi-info .back .isigan {
	color: rgba(33, 69, 81, 1);
}
.halaman-utama .info .isi-info .back .isigan .isiganheader {
	font-family: "Roboto Slab", Helvetica;
	text-decoration: underline;
	margin-bottom: 30px;
	margin-top: 230px;
	margin-left: 40px;
	font-size: 25px;
}
.halaman-utama .info .isi-info .back .isigan .teksheaderisi {
	font-family: "Roboto Slab", Helvetica;
	margin-left: 20px;
	font-size: 20px;
}
.halaman-utama .info .isi-info .gambarinfo {
	margin-left: 900px;
}
